<h2>User Profile</h2>
<mat-card class="card">
    <mat-card-content>
        <div class="content">
            <span class="title">User: </span>
            <span>John Dae</span>
        </div>
        <div>
            <span class="title">Designation: </span>
            <span>Software Consultant</span>
        </div>
        <div>
            <span class="title">Email: </span>
            <span>john.dae&364test.com</span>
        </div>
        <div>
            <span class="title">Mobile: </span>
            <span>9988779090</span>
        </div>
        <div>
            <span class="title">Location: </span>
            <span>India</span>
        </div>
    </mat-card-content>
  </mat-card>